/* #Primary
================================================== */

.center {
    margin-top: 15px;
    text-align: center;
}
.z-bigger {
    z-index: 100 !important;
}


/*1*/
#budget-1 + label {
    background-color: #a82700;
}

#budget-1:checked + label {
    background-color: #a82700;
    outline: 5px solid gray;
    outline-offset: -5px;
}

/*2*/
#budget-2 + label {
    background-color: #ff9cd1;
}

#budget-2:checked + label {
    background-color: #ff9cd1;
    outline: 5px solid gray;
    outline-offset: -5px;
}

/*3*/
#budget-3 + label {
    background-color: #984918;
}

#budget-3:checked + label {
    background-color: #984918;
    outline: 5px solid gray;
    outline-offset: -5px;
}

/*4*/
#budget-4 + label {
    background-color: #d09d14;
}

#budget-4:checked + label {
    background-color: #d09d14;
    outline: 5px solid gray;
    outline-offset: -5px;
}

/*5*/
#budget-5 + label {
    background-color: #24796c;
}

#budget-5:checked + label {
    background-color: #24796c;
    outline: 5px solid gray;
    outline-offset: -5px;
}

/*6*/
#budget-6 + label {
    background-color: #ffffff;
}

#budget-6:checked + label {
    background-color: #ffffff;
    outline: 5px solid gray;
    outline-offset: -5px;
}

#budget-7 + label {
    background-color: #2dbf60;
}

#budget-7:checked + label {
    background-color: #2dbf60;
    outline: 5px solid gray;
    outline-offset: -5px;
}

#budget-8 + label {
    background-color: #1e2b91;
}

#budget-8:checked + label {
    background-color: #1e2b91;
    outline: 5px solid gray;
    outline-offset: -5px;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    visibility: hidden;
}

.checkbox-budget:checked + label,
.checkbox-budget:not(:checked) + label {
    position: relative;
    display: inline-block;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 220px;
    height: 50px;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-width: 40px;
    border-color: #FFF;
    overflow: hidden;
    cursor: pointer;
}
